.form {
    margin: 20px;
}

.input {
    width: 75%;
    height: 44px;
    font-size: 16px;
    padding-left: 15px;
}

.input::placeholder {
    font-size: 17px;
    padding-left: 15px;
    color: black;
}

.btn {
    width: 20%;
    margin-left: 25px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
}

.card {
    display: flex;
    margin: 20px;
    border: 1px solid black;
    text-wrap: normal;
    width: 94.5%;
    padding-left: 15px;
    justify-content: space-between;
}

.close {
    margin-right: 15px;
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
}

.text {
    display: inline-block;
    word-break: break-all;
    line-height: 38px;
}