body {
    font-family: sans-serif;
}

.navigation {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

.header {
    display: inline-block;
    margin-left: 19%;
    font-weight: normal;
}

.navigation a {
    margin: 10px;
    color: #7A7A7A;
    text-decoration: none;
    transition: 200ms;
}

.navigation a:hover {
    color: #484648;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-inner {
    border-radius: 3px;
    border: 2px solid black;
    width: 60%;
    text-align: center;
    height: 87vh;
    overflow: auto;
    padding: 15px;
}